<h2>So, between you and me...</h2>
<p>I have your session ID! It's this: {{id}}</p>
<h2> You can use that ID to search from the ENTIRE database, just in case the server restarts or you delete your cookies in the future.</h2>

<form method="POST" action="/secret">

ID to search: <input type="text" name="searchID">
<input type="Submit" value="Submit">
</form>

<table>
    <tr>
        <th>Date</th>
        <th>Gender</th>
        <th>Weight</th>
        <th>Bench Reps</th>
        <th>Bench Sets</th>
        <th>Squat Reps</th>
        <th>Squat Sets</th>
        <th>Deadift Reps</th>
        <th>Deadlift Sets</th>
        <th>OHP Reps</th>
        <th>OHP Sets</th>
        <th>Row Reps</th>
        <th>Row Sets</th>
    </tr>
    {{#each Inputs}}
    <tr>
        <td>{{this.date}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.bench_reps}}</td>
        <td>{{this.bench_sets}}</td>
        <td>{{this.squat_reps}}</td>
        <td>{{this.squat_sets}}</td>
        <td>{{this.deadlift_reps}}</td>
        <td>{{this.deadlift_sets}}</td>
        <td>{{this.ohp_reps}}</td>
        <td>{{this.ohp_sets}}</td>
        <td>{{this.row_reps}}</td>
        <td>{{this.row_sets}}</td>
    </tr>
    {{/each}}
</table><br>